.default {
    padding: 1.5rem 0;
    font-size: 1.1rem;
}

.send-btn {
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #f1f1f1;
    background: #2346A0;
    font-weight: bold;
    max-width: 20rem;
    min-width: 5rem;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    border: 2px solid #2346A0;
}

.free-trial-btn {
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #f1f1f1;
    background: #3C8836;
    font-weight: bold;
    max-width: 10rem;
    min-width: 5rem;
    padding: 1rem 0;
    font-size: 1.1rem;
    border: 2px solid #3C8836;
}

.free-trial-btn:hover {
    color: #43b416;
    background: #ffffff;
    border: 2px solid #43b416;
}

.send-btn:hover {
    color: #162eb4;
    background: #ffffff;
    border: 2px solid #162eb4;
}