.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-logo{
    width: 12rem;
    height: 7.875rem;
    margin-top: 2rem;
}
.form-login{
    background-color: #8BBAFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 25rem;
    margin-top: 2rem;
    border-radius: 2rem;
}

.titulo{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #14285C;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-input{
    font-weight: 400;
}

.input{
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 3rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: none;
}

.botao-login{
    width: 30rem;
    height: 3rem;
    color: #fff;
    background-color:#0070D2;
    font-weight: bold;
    border-radius: 0.5rem;
}

