.default {
    padding: 1.5rem 0;
    font-size: 1.1rem;
}

.free-trial-btn {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    color: #f1f1f1;
    background: #3C8836;
    font-weight: bold;
    max-width: 10rem;
    min-width: 5rem;
    padding: 1rem 0;
    font-size: 1.1rem;
    border: 2px solid #3C8836;
}

.login-btn{
}

.free-trial-btn:hover {
    color: #43b416;
    background: none;
    border: 2px solid #53b416;
}