.logo{
    height: 3rem;   
}

.caixa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
}

.lista li {
    display: inline;
    margin:  0 0 0 1.5rem
}

.item-lista {
    text-transform: uppercase;
    color: #2B3C75;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;   
}

.item-lista:hover{
    color:#1c6bff;
}

.teste-gratis{
    background-color: #3C8836;
    color: #fff;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 0.6rem;
}