section{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 7rem 3rem;
}

section > h1{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: #032D60;
}

section > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section > div > h1{
    display: none;
}

section > div > .in_title{
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    color: #032D60;
}

section > div > p{
    flex: 0.9;
    width: 10rem;
    font-size: 1.2rem;
    margin: 3rem;
}

.flex div > img{
    max-width: 30rem;
}

.reverse{
    flex-direction: row-reverse;
}