footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #14285C;
    color: #fff;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 0.8rem;
}

.imagem-footer{
    width: 3.5rem;
}